@import url(..//css/font.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Lato-Regular;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.section-gab {
  padding: 70px 0px 0px;
}
.head-title {
  text-align: center;
}
.head-title h1 {
  font-size: 42px;
  font-family: Inter-Bold;
  text-transform: uppercase;
}
.head-title p {
  font-size: 30px;
}
.bgCover {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sign-up {
  border-radius: 10px;
  font-size: 25px;
  max-width: 175px;
  padding: 10px 0px;
  display: inline-block;
  background-color: #fe018a;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}
.sign-up:hover {
  color: #fff;
  background-color: #e4017c;
}
.web-view {
  display: block;
}
.mobile-view {
  display: none;
}
/* Header-section */
.header-section {
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 9;
  width: 100%;
  /* position: absolute; */
}
.header-section .brand-logo {
  width: 200px;
}
.header-section .brand-logo img {
  width: 100%;
}
.header-section .sec-img {
  text-align: center;
  width: 80%;
  margin: auto;
}
.header-section .sec-img img {
  width: 100%;
}
.header-section .wrap-btn {
  text-align: end;
}

/* general styling */

/* banner-section */
.banner-section {
  width: 100%;
}
.banner-section .banner-inner {
  height: 84vh;
  display: flex;
  align-items: center;
  background-color: #ff0099;
}
.banner-section .banner-inner .banner-dec {
  width: 40%;

  align-items: center;
}
.banner-section .banner-inner .banner-dec .banner-dec-inner {
  background-color: #f7f8f4;
  border-radius: 20px;
  padding: 30px 20px;
  width: 80%;
  margin: auto;
}
.banner-section .banner-inner .banner-dec h1 {
  color: #fe018a;
  font-size: 68px;
  text-align: center;
  font-weight: bold;
  font-family: Pandora;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.banner-section .banner-inner .banner-dec p {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin-top: -6px;
}
.banner-section .banner-inner .banner-dec .banner-dec-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.banner-section .banner-inner .banner-dec .banner-dec-list ul {
  padding: 0;
  margin: 0;
}
.banner-section .banner-inner .banner-dec .banner-dec-list ul li {
  font-size: 18px;
  line-height: 36px;
  color: #8dc963;
}
.banner-section .banner-inner .banner-dec .join-btn {
  margin-top: 20px;
  text-align: center;
}
.banner-section .banner-inner .banner-dec .join-btn a {
  color: #fff;
  border: none;
  font-size: 28px;
  text-transform: uppercase;
  padding: 20px 45px;
  font-weight: bold;
  background-color: #fe018a;
  border-radius: 30px;
}
.banner-section .banner-inner .banner-dec .join-btn a:hover {
  background-color: #14b327;
}
.banner-section .banner-inner .banner-img {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.banner-section .banner-inner .banner-img img {
  width: 100%;
}

.slick-track,
.slick-list {
  height: 100vh;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slides {
  width: 100%;
  height: 100vh;
}
.slides .slide {
  color: #419be0;
  background: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}
.slick-dots li {
  display: block;
}
/* bootcamp-section */
.bootcamp-section {
  padding-top: 40px;
  background-color: #d6d8d8;
}
.bootcamp-section .head-title {
  text-align: center;
  margin-bottom: 10px;
}
.bootcamp-section .head-title h1 {
  font-size: 54px;
  color: #fe018a;
  margin-bottom: 0px;
  margin-top: 20px;
}
.bootcamp-section .head-title p {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-family: Inter-Bold;
  margin-top: -5px;
}
.bootcamp-section ul {
  /* list-style-image: url(..//img/check-solid.svg); */
  padding-left: 00px;
}
.bootcamp-sev {
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.bootcamp-section ul li {
  font-size: 20px;
  margin-bottom: 18px;
  padding: 6px 10px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
}
.bootcamp-section ul li p {
  margin-bottom: 0px;
}
.bootcamp-section ul li img {
  margin-right: 15px;
}
.bootcamp-section ul li strong {
  color: #000;
  text-transform: uppercase;
}

/* END bootcamp-section */
/* testimonials-section */
.testimonials-section {
  padding: 70px 0px;
  background: #fe018a;
}
.testimonials-section .head-title {
  color: #fff;
  margin-bottom: 40px;
}
.testimonials-section .head-title h1 {
  color: #ffffff;
}
.testimonials-box {
  /* border: 1px solid #fff; */
  color: #ffffff;
  padding: 0px 90px;
  border-radius: 20px;
  background: #fe018a;
  cursor: pointer;
  text-align: center;
  /* min-height: 530px; */
}
/* .testimonials-box:hover {
  background: #e00278;
} */

.testimonials-box .rate-img {
  margin-top: 10px;
}
.testimonials-box .rate-img img {
  width: 300px;
  margin: auto;
}
.testimonials-box p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.testimonials-box p strong {
  font-weight: 600;
  margin-bottom: 10px;
}
.testimonials-box h2 {
  font-size: 28px;
  font-family: Inter-Bold;
  text-align: center;
}
.testimonials-section .testimonials-slider .owl-nav {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.testimonials-section .testimonials-slider .owl-nav button {
  background-color: rgb(255, 255, 255);
  /* position: absolute; */
  top: 45%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.12);
}
.testimonials-section .testimonials-slider .owl-nav button:hover {
  background: #f4f4f4;
}
.testimonials-section .testimonials-slider .owl-nav button span {
  font-size: 50px;
  display: inline-block;
  margin-top: -12px;
  font-weight: 800;
}
.testimonials-section .testimonials-slider .owl-nav .owl-prev {
  left: -20px;
}
.testimonials-section .testimonials-slider .owl-nav .owl-next {
  right: -20px;
}

/* sortable-wrap */
.sortable-wrap {
  background-color: #fe018a;
  padding: 70px 0px;
  text-align: center;
}
.sortable-wrap .bootcamp-start {
  text-align: center;
}
.sortable-wrap .bootcamp-start h3 {
  color: #fff;
  font-size: 58px;
  font-weight: bold;
  font-family: Pandora;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.sortable-wrap .bootcamp-start h1 {
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  font-family: "Inter-Bold";
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  display: inline-block;
}
.sortable-wrap .bootcamp-start h1 .free-img {
  position: absolute;
  width: 190px;
  top: -30px;
  right: -210px;
}
.sortable-wrap .price-btn {
  margin-top: 30px;
  text-align: center;
}
.sortable-wrap .price-btn a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(43, 196, 61);
  font-size: 44px;
  box-sizing: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px 50px;
  text-transform: uppercase;
}
.sortable-wrap .price-btn a:hover {
  background-color: #14b327;
}
.sortable-wrap .bootcamp-start p {
  color: #000;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-family: Chocolates-Bold;
}

.sortable-wrap .price-btn {
  margin-top: 30px;
  text-align: center;
}
.sortable-wrap .price-btn a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(43, 196, 61);
  font-size: 60px;
  border-radius: 15px;
  padding: 16px 30px;
  text-transform: uppercase;
  line-height: 60px;
}
.sortable-wrap .price-btn a p {
  color: #fff;
}
.sortable-wrap .price-btn a p span {
  position: relative;
}
.sortable-wrap .price-btn a p span::after {
  content: "";
  position: absolute;
  background-image: url(..//img/line-price.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 100%;
  left: -10px;
  bottom: -40px;
}
.sortable-wrap .price-btn a:hover {
  background-color: #14b327;
}
.sortable-wrap .price-btn h2 {
  font-family: Chocolates-Bold;
  color: #fff;
  font-size: 75px;
  margin-bottom: 0px;
  margin-top: 40px;
}
.sortable-wrap .price-btn h2 img {
  width: 130px;
  margin-right: -20px;
}
.sortable-wrap .price-btn h2 span {
  color: #000;
}
.mobile-change-view {
  display: flex;
  flex-direction: column;
}
/* countdown */
#countdown {
  margin: 40px 0px;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#countdown .vertical-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-family: Inter-Bold;
  line-height: 55px;
}
#countdown p {
  font-size: 42px;
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
  font-weight: bold;
  font-family: Pandora;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
/* END-countdown */
/* video-area */
.video-area {
  padding: 70px 0px;
}
.video-area iframe {
  border-radius: 20px;
}

/* END-video-area */
/* annual-membership */
.annual-membership {
  padding: 70px 0px;
  background-color: #fe018a;
}
.annual-membership .annual-membership-inner {
  text-align: center;
}
.annual-membership .annual-membership-inner h2 {
  font-size: 115px;
  color: #ffffff;
  margin-bottom: 0px;
  font-family: Inter-Bold;
  text-transform: uppercase;
}
.annual-membership .annual-membership-inner h3 {
  font-size: 60px;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-family: Inter-Bold;
  margin-top: -5px;
}
.annual-membership .annual-membership-inner h3 span {
  color: #ffffff;
  text-transform: uppercase;
}
.annual-membership .annual-membership-inner .membership-btn a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(43, 196, 61);
  font-size: 44px;
  border-radius: 15px;
  padding: 20px 50px;
  text-transform: uppercase;
  margin-top: 40px;
}
.annual-membership .annual-membership-inner .membership-btn a:hover {
  background-color: #14b327;
}
/* register-section */
.register-section {
  text-align: center;
  position: relative;
  z-index: 9;
}
.register-section .food-img .owl-nav,
.register-section .food-img .owl-dots {
  display: none;
}
/* story-section */
.story-section .head-title {
  margin-bottom: 40px;
}
.story-section .head-title h1 {
  color: #fe018a;
}
.story-section .stroy-wrap {
  padding: 25px;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.story-section .stroy-wrap:hover {
  box-shadow: 0px 0px 20px -15px;
}
.story-section .stroy-wrap img {
  border-radius: 20px;
}
.story-section .stroy-wrap h4 {
  margin-top: 20px;
  font-size: 22px;
  font-family: Inter-Bold;
  margin-bottom: 0px;
  min-height: 48px;
}
.story-section .stroy-wrap h4 span {
  color: #fe018a;
}
/* subscribe-section */
.subscribe-section {
  padding: 80px 0px;
  margin-top: 70px;
  background-image: url(..///img/subscribe.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subscribe-dec {
  color: #fff;
  text-align: center;
}
.subscribe-dec h1 {
  font-size: 90px;
  text-transform: uppercase;
  font-family: Anton-Regular;
  margin-bottom: 0px;
  letter-spacing: 2px;
}
.subscribe-dec h2 {
  color: #fe018a;
  font-size: 50px;
  font-family: Inter-Bold;
  margin-bottom: 0px;
  margin-top: 0px;
}
.subscribe-dec h3 {
  font-size: 55px;
  font-family: Inter-Bold;
  margin-bottom: 0px;
}
.subscribe-dec p {
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fe018a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter-Bold;
}
.subscribe-dec p span {
  color: #fff;
  margin-left: 0px;
  margin-right: 10px;
}
.subscribe-dec a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(254, 23, 135);
  font-size: 40px;
  margin: 40px 0px;
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
}
.subscribe-dec a:hover {
  background-color: rgb(43, 196, 61);
}
/* footer-section */
.footer-section {
  background-color: #fe018a;
  color: #fff;
  padding: 30px 0px;
}
.footer-section ul li {
  padding: 0px 12px;
}
.footer-section ul li a {
  color: #fff;
  font-size: 16px;
  font-family: Lato-Bold;
}
.footer-section p {
  margin-bottom: 0px;
  font-size: 16px;
  text-align: end;
}
/*  Responsive*/

@media only screen and (max-width: 1400px) {
  .subscribe-dec h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 1200px) {
  .header-section {
    position: relative;
  }
  .banner-section {
    height: auto;
  }
  .banner-section .banner-inner {
    display: block;
  }
  .banner-section .banner-inner .banner-dec {
    width: 100%;
    height: auto;
    padding: 40px 0px;
  }
  .banner-section .banner-inner .banner-img {
    width: 100%;
    height: auto;
    padding: 40px 0px;
  }
  .sortable-wrap .bootcamp-start h3 {
    font-size: 46px;
  }
  .sortable-wrap .bootcamp-start h1 {
    font-size: 80px;
  }
  .sortable-wrap .bootcamp-start h1 .free-img {
    position: absolute;
    width: 150px;
    right: -170px;
  }
  .sortable-wrap .bootcamp-start p {
    font-size: 38px;
  }
  .sortable-wrap .price-btn a {
    font-size: 28px;
    padding: 20px 40px;
    line-height: 40px;
  }
  #countdown {
    flex-wrap: wrap;
  }
  #countdown .vertical-text {
    font-size: 40px;
  }
  #countdown p {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1150px) {
  .footer-section ul li a,
  .footer-section p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .section-gab {
    padding: 50px 0px 0px;
  }
  .header-section .sec-img {
    width: 80%;
    margin: auto;
  }
  .sortable-wrap .bootcamp-start h3 {
    display: flex;
    flex-direction: column;
  }
  .sortable-wrap .bootcamp-start .bootcamp-inner {
    text-align: center;
  }

  .sortable-wrap .bootcamp-start h1 {
    font-size: 80px;
  }
  .sortable-wrap .bootcamp-start h3 {
    font-size: 36px;
  }
  .sortable-wrap .price-btn a {
    font-size: 38px;
    padding: 16px 40px;
  }
  .sortable-wrap .bootcamp-start p {
    font-size: 34px;
  }
  #countdown {
    gap: 25px;
  }
  #countdown .vertical-text {
    font-size: 32px;
    line-height: 40px;
  }
  .bootcamp-section .head-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .bootcamp-section .head-title h1 {
    font-size: 42px;
  }
  .head-title p {
    font-size: 25px;
  }
  .sign-up {
    font-size: 20px;
  }
  .testimonials-box {
    padding: 0px;
  }
  .border-two {
    margin-bottom: 0px;
  }

  .video-area iframe {
    border-radius: 20px;
    height: 420px;
  }
  .annual-membership .annual-membership-inner h2 {
    font-size: 80px;
  }
  .annual-membership .annual-membership-inner h3 {
    font-size: 40px;
  }
  .story-section .stroy-wrap {
    padding: 0px;
  }
  .story-section .stroy-wrap h4 {
    font-size: 16px;
    padding: 0px 7px;
  }
  .subscribe-dec {
    text-align: center;
  }
  .footer-section ul {
    justify-content: center;
  }
  .footer-section p {
    text-align: center;
    margin-top: 20px;
  }
  .subscribe-dec p {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-view {
    display: block;
  }
  .web-view {
    display: none;
  }
  .bootcamp-section .head-title p {
    font-size: 28px;
  }
  .header-section {
    padding: 10px 0px;
  }
  .header-section .wrap-btn a {
    width: 130px;
  }
  .countdown-wrap ul {
    margin-top: 10px;
    text-align: center;
  }
  .header-section .sec-img {
    width: 100%;
    margin-top: 20px;
  }
  .bootcamp-section .head-title h1,
  .head-title h1 {
    font-size: 32px;
    margin-top: 0px;
  }
  .testimonials-section .head-title {
    margin-bottom: 20px;
  }
  .sortable-wrap .price-btn h2 {
    font-size: 32px;
  }
  .sortable-wrap .price-btn h2 img {
    width: 60px;
    margin-right: -5px;
  }
  .sortable-wrap .bootcamp-start h3 {
    font-size: 28px;
  }
  .sortable-wrap .bootcamp-start h1 {
    font-size: 60px;
  }
  .sortable-wrap .bootcamp-start p {
    font-size: 28px;
  }
  .bootcamp-section ul li img {
    margin-right: 10px;
  }
  .head-title p {
    font-size: 20px;
  }
  .bootcamp-section ul li {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .video-area iframe {
    height: 300px;
  }
  .annual-membership {
    padding: 40px 0px;
  }
  .annual-membership .annual-membership-inner h2 {
    font-size: 60px;
  }
  .annual-membership .annual-membership-inner h3 {
    font-size: 30px;
  }
  .story-section .stroy-wrap h4 {
    font-size: 14px;
    padding: 0px 0px;
  }
  .story-section .stroy-wrap {
    border: none;
  }
  .subscribe-dec h1 {
    font-size: 70px;
  }
  .subscribe-dec h2 {
    color: #fe018a;
    font-size: 50px;
  }
  .subscribe-dec h3 {
    font-size: 40px;
  }
  .subscribe-dec p {
    font-size: 18px;
    margin-top: 30px;
  }
  .subscribe-dec a {
    font-size: 30px;
    padding: 13px 20px;
  }
  .footer-section {
    padding: 20px 0px;
  }
  .section-gab {
    padding: 40px 0px 0px;
  }
  .testimonials-section {
    padding: 40px 0px 0px;
  }
  .story-section .stroy-wrap:hover {
    box-shadow: none;
  }
}
@media only screen and (max-width: 575px) {
  .story-section .stroy-wrap h4 {
    font-size: 21px;
    padding: 0px 0px 40px;
  }
  .subscribe-dec p span {
    margin-left: 0px;
    margin-right: 0px;
  }
  .subscribe-section {
    padding: 70px 0px;
    margin-top: 0px;
  }
  .annual-membership .annual-membership-inner h2 {
    font-size: 45px;
  }
  .annual-membership .annual-membership-inner h3 {
    font-size: 22px;
    margin-top: 10px;
  }
  .annual-membership .annual-membership-inner .membership-btn a {
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 20px;
  }
  .sortable-wrap .price-btn a {
    font-size: 35px;
    padding: 15px 30px;
    margin-top: 0px;
  }
  .sortable-wrap .bootcamp-start h1 .free-img {
    display: none;
  }
  .sortable-wrap .bootcamp-start h1 .free-text {
    display: revert;
  }
}
@media only screen and (max-width: 525px) {
  .sign-up {
    font-size: 18px;
    max-width: 145px;
    padding: 7px 5px;
  }
  .sortable-wrap {
    background-color: #fe018a;
    padding: 40px 0px;
  }
  .sortable-wrap .price-wrap .price-btn p {
    font-size: 30px;
  }
  .sortable-wrap .price-wrap .price-table .price-annual {
    display: block;
    margin-bottom: 20px;
  }
  .sortable-wrap .price-wrap .price-btn a {
    font-size: 35px;
    padding: 15px 30px;
  }
  .sortable-wrap .bootcamp-start h3 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .sortable-wrap .bootcamp-start h1 {
    font-size: 45px;
  }
  .sortable-wrap .bootcamp-start p {
    font-size: 25px;
    letter-spacing: 0px;
    margin-top: 0px;
  }
  .sortable-wrap .price-btn h2 {
    font-size: 26px;
  }
  .sortable-wrap .price-btn h2 img {
    width: 45px;
    margin-right: 0px;
  }
  .sortable-wrap .price-btn a p span::after {
    content: "";
    width: 80px;
    left: -5px;
    bottom: -26px;
  }
  .brand-logo {
    width: 120px;
  }
  .header-section .sec-img {
    width: 90%;
  }
  .header-section .brand-logo {
    width: 170px;
  }
  .sortable-wrap .price-wrap .price-btn a {
    font-size: 35px;
    padding: 15px 30px;
  }

  .bootcamp-sev {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .header-section .sec-img {
    margin-top: 10px;
  }
  .video-area {
    padding: 40px 0px;
  }
  .video-area iframe {
    width: 100%;
    height: 220px;
    border-radius: 10px;
  }
  .sortable-wrap .bootcamp-start h3 {
    font-size: 26px;
  }
  .sortable-wrap .bootcamp-start h1 {
    font-size: 45px;
  }
  .sortable-wrap .bootcamp-start p {
    font-size: 25px;
    letter-spacing: 0px;
    margin-top: 0px;
  }
  #countdown {
    gap: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  #countdown .vertical-text {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  #countdown .vertical-mobile {
    margin-bottom: 0px !important;
  }
  #countdown p {
    font-size: 25px;
  }
  .sortable-wrap .price-btn a {
    font-size: 36px;
    padding: 15px 40px;
  }
  .bootcamp-section ul li {
    padding: 0px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .bootcamp-section {
    padding-bottom: 30px;
  }
  .testimonials-section .testimonials-slider .owl-nav button {
    top: 35%;
    height: 30px;
    width: 30px;
  }
  .testimonials-section .testimonials-slider .owl-nav .owl-prev {
    left: -10px;
  }
  .testimonials-section .testimonials-slider .owl-nav .owl-next {
    right: -10px;
  }
  .testimonials-section .testimonials-slider .owl-nav button span {
    font-size: 40px;
    margin-top: -7px;
  }
  .testimonials-box {
    padding: 0px;
  }
  .testimonials-box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .testimonials-box .rate-img img {
    width: 200px;
  }
  .testimonials-box h2 {
    font-size: 22px;
  }
  .testimonials-section {
    padding: 40px 0px 0px;
  }

  .story-section .head-title {
    margin-bottom: 20px;
  }
  .subscribe-dec h1 {
    font-size: 55px;
  }
  .subscribe-dec h2 {
    color: #fe018a;
    font-size: 38px;
  }
  .subscribe-dec h3 {
    font-size: 30px;
  }
  .subscribe-dec p {
    display: block;
  }
  .footer-section ul {
    justify-content: space-between;
  }
  .footer-section ul li {
    padding: 0px;
  }
  .footer-section ul li a,
  .footer-section p {
    font-size: 12px;
  }
  .footer-section p {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .sortable-wrap .bootcamp-start h3 {
    font-size: 22px;
  }
  .sortable-wrap .bootcamp-start h1 {
    font-size: 36px;
  }
  .video-area iframe {
    height: 195px;
  }
  .header-section .brand-logo {
    width: 150px;
  }
  /* .ytp-cued-thumbnail-overlay-image {
    width: 150%;
    height: 150%;
    top: -40px !important;
    left: -70px !important;
  } */
}

@media only screen and (max-width: 374px) {
  .subscribe-dec h2 {
    font-size: 28px;
  }
  .sortable-wrap .bootcamp-start h1 {
    font-size: 36px;
  }
  .sortable-wrap .price-btn a {
    font-size: 24px;
    padding: 15px 30px;
    margin-top: 0px;
    line-height: 30px;
  }
  .sortable-wrap .bootcamp-start p {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .sortable-wrap .bootcamp-start h3 {
    font-size: 18px;
  }
  .subscribe-dec h1 {
    font-size: 40px;
  }
  .bootcamp-section .head-title h1,
  .head-title h1 {
    font-size: 26px;
  }
  .annual-membership .annual-membership-inner h2 {
    font-size: 35px;
  }
  #countdown .vertical-text {
    font-size: 20px;
  }
}
